
.rotate {
    position: absolute;
    top: 5%;
    left: 5%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
